/* Deck card layout */
.deck-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deck-edit-btn {
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  margin: 0;
}

/* All anchor tags should have the finger cursor */
a {
  cursor: pointer;
}
